h1{
    color:red;
    text-align: center;
    font-size: 35px;
}
#container1{
    background-color: royalblue;
    border: 3px solid black;
    height: 210px;
    width: 32%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    float:left;
    font-size: 16px;
}
#box1{
    height: 30px;
    width: 20%;
    background-color: rgb(255, 0, 170);
    border: 3px solid black;
    position: relative;
    top: -21px;
    left: 388px;
    text-align: center;
    font-size: 20px;
    border: black 2px solid;



}
#container2{
    background-color: royalblue;
    border: 3px solid black;
    height: 210px;
    width: 32%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    float:left;

}
#box2{
    height: 30px;
    width: 20%;
    background-color: chartreuse;
    border: 3px solid black;
    position: relative;
    top: -21px;
    left: 388px;
    text-align: center;
    font-size: 20px;
    border: black 2px solid;



}
#container3{
    background-color: royalblue;
    border: 3px solid black;
    height: 210px;
    width: 32%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    float:right;
}
#box3{
    height: 30px;
    width: 20%;
    background-color: rgb(255, 217, 0);
    border: 3px solid black;
    position: relative;
    top: -21px;
    left: 388px;
    text-align: center;
    font-size: 20px;
    border: black 2px solid;


}